<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base_generic.html' %}

{% block content %}
<h2>Enter New Password</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}">New Password</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
        {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
{% endblock %}
